NAV_2620_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/2620/2.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/2620/2.0">
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <element name="Doc_2620"
            type="tns:Doc_2620_Type"
            meta:metaType="DocMetaType">
      <annotation>
         <documentation>Bevallás a biztosítási adóról, a biztosítási pótadóelőlegről, a biztosítási pótadó-elszámolásról</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_2620_0A0001E003A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="H"/>
         <enumeration value="O"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_2620_0A0001E004A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="A"/>
         <enumeration value="B"/>
         <enumeration value="D"/>
         <enumeration value="F"/>
         <enumeration value="M"/>
         <enumeration value="V"/>
         <enumeration value="Z"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_2620_0A0001E005A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="1"/>
         <enumeration value="2"/>
         <enumeration value="3"/>
         <enumeration value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_2620_0A0001F005A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="I"/>
         <enumeration value="N"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_2620_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_2620"
                  type="tns:Form_2620_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>2620 részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_2620_Type">
      <annotation>
         <documentation>A teljes nyomtatvány 2620 részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_2620_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Azonosító adatok</documentation>
            </annotation>
         </element>
         <element name="Block_120008"
                  type="tns:Block_2620_120008_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>A bevallásban érintett biztosítási szolgáltatások száma</documentation>
            </annotation>
         </element>
         <element name="Block_120014"
                  type="tns:Block_2620_120014_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Biztosítási adó</documentation>
            </annotation>
         </element>
         <element name="Block_120051"
                  type="tns:Block_2620_120051_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Biztosítási pótadóelőleg (az adóév tizenkettedik hónap 10. napjáig)</documentation>
            </annotation>
         </element>
         <element name="Block_120057"
                  type="tns:Block_2620_120057_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Biztosítási pótadó-elszámolás (az adóévet követő első és hetedik hónap utolsó napjáig)</documentation>
            </annotation>
         </element>
         <element name="Block_120062"
                  type="tns:Block_2620_120062_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>A biztosítási pótadó csökkentő tételeinek levezetése (Benyújtandó az állami adó- és vámhatósághoz a pótadóelőleg és pótadóelszámoló bevallásokkal egyidejűleg)</documentation>
            </annotation>
         </element>
         <element name="Block_120017"
                  type="tns:Block_2620_120017_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Önellenőrzés</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_2620_120001_Type">
      <annotation>
         <documentation>Azonosító adatok</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_2620_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adózó adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120003"
                  type="tns:FieldGroup_2620_120003_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Ügyintéző adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120038"
                  type="tns:FieldGroup_2620_120038_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Bevallás jellemzői, javítás (helyesbítés, önellenőrzés) jelölése</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_2620_120008_Type">
      <annotation>
         <documentation>A bevallásban érintett biztosítási szolgáltatások száma</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120009"
                  type="tns:FieldGroup_2620_120009_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>A bevallásban érintett biztosítási szolgáltatások tételszáma összesen</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_2620_120014_Type">
      <annotation>
         <documentation>Biztosítási adó</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120015"
                  type="tns:FieldGroup_2620_120015_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>A biztosítási adó alapja (biztosítási díj)</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120016"
                  type="tns:FieldGroup_2620_120016_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Az adó mértéke</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_2620_120051_Type">
      <annotation>
         <documentation>Biztosítási pótadóelőleg (az adóév tizenkettedik hónap 10. napjáig)</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120053"
                  type="tns:FieldGroup_2620_120053_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>A biztosítási pótadóelőleg alapja</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120056"
                  type="tns:FieldGroup_2620_120056_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Az adóév tizenkettedik hónap 10. napjáig az adóév első tizenegy hónapjára vonatkozó Bizta tv. 4. § (2) bekezdés szerinti adóalap alapulvételével számított pótadóelőleg</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_2620_120057_Type">
      <annotation>
         <documentation>Biztosítási pótadó-elszámolás (az adóévet követő első és hetedik hónap utolsó napjáig)</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120058"
                  type="tns:FieldGroup_2620_120058_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>A biztosítási pótadó alapja</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120059"
                  type="tns:FieldGroup_2620_120059_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>A biztosítási pótadó mértéke a 2026-ban kezdődő adóévben</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_2620_120062_Type">
      <annotation>
         <documentation>A biztosítási pótadó csökkentő tételeinek levezetése (Benyújtandó az állami adó- és vámhatósághoz a pótadóelőleg és pótadóelszámoló bevallásokkal egyidejűleg)</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120063"
                  type="tns:FieldGroup_2620_120063_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>A biztosítási pótadó csökkentő tételeinek levezetése</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_2620_120017_Type">
      <annotation>
         <documentation>Önellenőrzés</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120018"
                  type="tns:FieldGroup_2620_120018_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Ismételt önellenőrzés</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120019"
                  type="tns:FieldGroup_2620_120019_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Önellenőrzés eredményeként kimutatott adó összegének változása</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120064"
                  type="tns:FieldGroup_2620_120064_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Önellenőrzés eredményeként kimutatott biztosítási pótadóelőleg összegének változása</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120065"
                  type="tns:FieldGroup_2620_120065_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Önellenőrzés eredményeként kimutatott biztosítási pótadó-elszámolás összegének változása</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120002_Type">
      <annotation>
         <documentation>Adózó adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adózó adószáma (adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jogelőd adószáma (jogelod_adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adózó / cég neve (nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120003_Type">
      <annotation>
         <documentation>Ügyintéző adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Neve (ugyintezo_neve)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Telefonszáma (ugyintezo_telefonszama)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120038_Type">
      <annotation>
         <documentation>Bevallás jellemzői, javítás (helyesbítés, önellenőrzés) jelölése</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A bevallást a biztosítási adóról nyújtom be (biztositasi_ado)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D002A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A bevallást a biztosítási pótadóelőlegről az adóév tizenkettedik hónap 10. napjáig nyújtom be (biztositasi_potadoeloleg)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D003A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A bevallást a 2026. évi biztosítási pótadó csökkentéséről nyújtom be (biztositasi_potado_csokkentes)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D004A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A bevallást a biztosítási pótadó-elszámolásról nyújtom be (biztositasi_potado_elszamolas)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D005A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>                  az adóévet követő első hónap utolsó napjáig (jan31)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D006A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>                  az adóévet követő hetedik hónap utolsó napjáig (júl31)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001C002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Hibásnak minősített bevallás vonalkódja (vonalkod)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001E001A"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Időszak kezdete (bevtol)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001E002A"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Időszak vége (bevig)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001E003A"
                  minOccurs="0"
                  type="tns:Enum_2620_0A0001E003A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jellege (bevallas_jelleg)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001E004A"
                  minOccurs="0"
                  type="tns:Enum_2620_0A0001E004A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Típusa (bevallas_tipus)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001E005A"
                  minOccurs="0"
                  type="tns:Enum_2620_0A0001E005A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Fajtája (bevallas_fajta)</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120009_Type">
      <annotation>
         <documentation>A bevallásban érintett biztosítási szolgáltatások tételszáma összesen</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001F001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Casco biztosítás (casco_db)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Vagyon- és balesetbiztosítás (vagyon_db)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Kötelező gépjármű-felelősségbiztosítás (kgfb_db)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A bevallásban érintett biztosítási szolgáltatások #tételszáma (tetel_db)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="14"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F005A"
                  minOccurs="0"
                  type="tns:Enum_2620_0A0001F005A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>2025-ben a Biztosítási adóról szóló 2012. évi CII. törvény#szerinti összesített adóalap a 20 milliárd forintot elérte (20milliardot_elerte)</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120015_Type">
      <annotation>
         <documentation>A biztosítási adó alapja (biztosítási díj)</documentation>
      </annotation>
      <all>
         <element name="Field_0B0001C0001BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0002BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0003BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001C0004BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120016_Type">
      <annotation>
         <documentation>Az adó mértéke</documentation>
      </annotation>
      <all>
         <element name="Field_0B0001D0011BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B11)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001D0012BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B12)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001D0013BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B13)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001D0014BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B14)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001D0015BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B15)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001D0016BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B16)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001D0017BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B17)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0B0001D0018BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([01]B18)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120053_Type">
      <annotation>
         <documentation>A biztosítási pótadóelőleg alapja</documentation>
      </annotation>
      <all>
         <element name="Field_0C0001C0001BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001C0002BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120056_Type">
      <annotation>
         <documentation>Az adóév tizenkettedik hónap 10. napjáig az adóév első tizenegy hónapjára vonatkozó Bizta tv. 4. § (2) bekezdés szerinti adóalap alapulvételével számított pótadóelőleg</documentation>
      </annotation>
      <all>
         <element name="Field_0C0001D0003BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001D0004BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001D0005BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B5)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001D0006BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B6)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001D0007BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B7)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001D0008BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B8)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001D0009BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B9)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0C0001D0010BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([03]B10)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120058_Type">
      <annotation>
         <documentation>A biztosítási pótadó alapja</documentation>
      </annotation>
      <all>
         <element name="Field_0D0001C0001BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001C0002BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120059_Type">
      <annotation>
         <documentation>A biztosítási pótadó mértéke a 2026-ban kezdődő adóévben</documentation>
      </annotation>
      <all>
         <element name="Field_0D0001D0003BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0004BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0005BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B5)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0006BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B6)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0007BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B7)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0008BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B8)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0009BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B9)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D50037A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B12)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0010BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B10)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0D0001D0011BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([04]B11)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120063_Type">
      <annotation>
         <documentation>A biztosítási pótadó csökkentő tételeinek levezetése</documentation>
      </annotation>
      <all>
         <element name="Field_0E0001C0001BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0E0001C0002BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0E0001C0003BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0E0001C0004BA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0E0001C50038A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B5)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0E0001C50039A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B6)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0E0001C50040A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B7)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0E0001C50041A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>([05]B8)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120018_Type">
      <annotation>
         <documentation>Ismételt önellenőrzés</documentation>
      </annotation>
      <all>
         <element name="Field_0F0001C001A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Ismételt önellenőrzés jelölése (ismetelt_onellenorzes)</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120019_Type">
      <annotation>
         <documentation>Önellenőrzés eredményeként kimutatott adó összegének változása</documentation>
      </annotation>
      <all>
         <element name="Field_0F0001D0001CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Eredeti adókötelezettség összege ([02]C1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0001DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Módosított adókötelezettség összege ([02]D1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0001EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adókötelezettség változása ([02]E1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0002CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Eredeti adókötelezettség összege ([02]C2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0002DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Módosított adókötelezettség összege ([02]D2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0002EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adókötelezettség változása ([02]E2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0003CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Eredeti adókötelezettség összege ([02]C3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0003DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Módosított adókötelezettség összege ([02]D3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0003EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adókötelezettség változása ([02]E3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0004EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adókötelezettség változása ([02]E4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="14"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001D0005FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Kötelezettség összege ([02]F5)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120064_Type">
      <annotation>
         <documentation>Önellenőrzés eredményeként kimutatott biztosítási pótadóelőleg összegének változása</documentation>
      </annotation>
      <all>
         <element name="Field_0F0001E0006CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Eredeti adókötelezettség összege ([02]C6)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001E0006DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Módosított adókötelezettség összege ([02]D6)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001E0006EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adókötelezettség változása ([02]E6)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001E0007FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Kötelezettség összege ([02]F7)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120065_Type">
      <annotation>
         <documentation>Önellenőrzés eredményeként kimutatott biztosítási pótadó-elszámolás összegének változása</documentation>
      </annotation>
      <all>
         <element name="Field_0F0001F0008CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Eredeti#adókötelezettség#összege#(c) ([02]C8)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001F0008DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Módosított#adókötelezettség#összege#(d) ([02]D8)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001F0008EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adókötelezettség#változása#(e) ([02]E8)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0F0001F0009FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Kötelezettség#összege#(f) ([02]F9)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="12"/>
                  <pattern value="[0-9+-]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120042_Type">
      <annotation>
         <documentation>Fejléc</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adózó adószáma (adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jogelőd adószáma (jogelod_adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adózó / cég neve (nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_2620_120045_Type">
      <annotation>
         <documentation>Egyenlegek</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001A003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Befizetendő biztosítási adó (Egyenleg_200_befizetendo)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="50"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001A005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Befizetendő önellenőrzési pótlék (Egyenleg_215_befizetendo)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="50"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001A004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Visszaigényelhető biztosítási adó (Egyenleg_200_visszaigenyelheto)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="50"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001A006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Visszaigényelhető önellenőrzési pótlék (Egyenleg_215_visszaigenyelheto)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="50"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
</schema>
